<footer class="mx-auto flex flex-nowrap items-center gap-x-6 justify-center py-4 bg-stone-200">
  <p class="text-xs text-zinc-700 whitespace-nowrap">
    ©2025 Anuj Nathan Kamasamudram. All Rights Reserved.
  </p>

  <div class="flex gap-4">
    <a
      href="https://github.com/anuj-nk"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="View my GitHub"
      class="p-2 bg-gray-100 rounded-full hover:bg-teal-100 transition-colors transform hover:scale-110 duration-200"
    >
      <img
        src="/assets/footer/github-mark.svg"
        alt="GitHub Logo"
        class="w-6 h-6 grayscale hover:grayscale-0 transition-all"
      />
    </a>
    <a
      href="https://linkedin.com/in/anuj-kamasamudram"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="View my LinkedIn"
      class="p-2 bg-gray-100 rounded-full hover:bg-teal-100 transition-colors transform hover:scale-110 duration-200"
    >
      <img
        src="/assets/footer/LinkedIn_icon.svg"
        alt="LinkedIn Logo"
        class="w-6 h-6 grayscale hover:grayscale-0 transition-all"
      />
    </a>
  </div>
</footer>
