<footer 
    class= "mx-auto flex max-w-sm items-center gap-x-4 justify-center"
>      
    <p class="text-0.2xl text-zinc-900 shrink-0">@2025 Anuj Nathan Kamasamudram. All Rights Reserved.</p>
</footer>