<footer 
    class= "mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10 justify-center"
>      
    <p class="uppercase text-7xl text-zinc-900 shrink-0">blog</p>
</footer>